<div class="row">
	<div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let item of productos">
		<div class="thumbnail">
			<img src="http://placehold.it/320x150" alt="">
			<div class="caption">
				<h4 class="pull-right">${{item.precio}}</h4>
				<h4><a href="#">{{item.nombre}}</a>
				</h4>
				<p>{{item.descripcion}}.</p>
			</div>
			<div class="ratings">
				<p class="pull-right"><a (click)="agregarCarrito(item.id, item.nombre, item.precio)"><span class="glyphicon glyphicon-shopping-cart"></span></a></p>
				<p>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
				</p>
			</div>
		</div>
	</div>
</div>