<!--<h1 >Inicio</h1>

<ul>    
    <li><a [routerLink]="['/login']">Login</a></li>
    <li><a [routerLink]="['/registro']">Registro</a></li>
</ul>-->
<!-- Navigation -->
<div class="container">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container" *ngIf="sesion === true">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="navbar-brand" [routerLink]="['/']">Tienda Mobkii</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a [routerLink]="['/perfil']">Perfil</a>
					</li>
					<li>
						<a [routerLink]="['/pedidos']">Pedidos</a>
					</li>
					<li>
						<a [routerLink]="['/carrito']">Carrito</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<div class="col-md-3" *ngIf="sesion === true">
				<p class="lead">Categorias</p>
				<div class="list-group">
					<div *ngFor="let item of categorias">
						<a class="list-group-item" (click)="mostrarCategoria(item.id)">
						 {{item.nombre}}
					</a>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<div class="container" *ngIf="sesion === true">

		<hr>

		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Your Website 2014</p>
				</div>
			</div>
		</footer>

	</div>
</div>